<nav class="header">
  <div class="logo">KITCHEN<span>SINK</span></div>

  <ul class="nav-links">
    <li>
      <a [routerLink]="'/dashboard'" routerLinkActive="active">DASHBOARD</a>
    </li>
    <li *ngIf="isAdmin">
      <a [routerLink]="'/admin'" routerLinkActive="active">ADMIN</a>
    </li>
  </ul>

  <div class="header-right">
    <div class="user-name">{{ user?.name | capitalizeFirstWord }}</div>
    <a href="#" (click)="logout()" title="Logout">
      <i class="fas fa-sign-out-alt text-danger cursor-pointer"></i>
    </a>
  </div>
  
</nav>