
<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="dashboard-container">


  <div class="accordion-card">
    <div class="accordion-header" (click)="isOpen = !isOpen">
      <span>User Profile</span>
      <span [ngClass]="{ 'rotate-icon': isOpen }">&#9650;</span>
    </div>

    <div *ngIf="isOpen" class="accordion-content">
      <p><strong>Name:</strong> {{ userData?.name | capitalizeFirstWord}}</p>
      <p><strong>Email:</strong> {{ userData?.email }}</p>
      <p><strong>Phone:</strong> {{ userData?.phoneNumber }}</p>
      <p><strong>Role:</strong> {{ userData?.roles?.[0] }}</p>
      <p><strong>Joining date:</strong> {{ userData?.joiningDate }}</p>
    </div>
  </div>
</div>
