name: Build and deploy Angular app to Azure Web App - kitchensink

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Build Angular app
        run: npm run build -- --configuration production --base-href /

      - name: Show contents of dist folder (debug)
        run: ls -R dist

      - name: Zip build output
        run: |
          cd dist/kitchensink-ui
          zip -r ../../../release.zip ./*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-app

      - name: Unzip artifact
        run: unzip release.zip -d app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FF391F3735474ADDA0D3B42AB1A16F3A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4587EF0DF1AE41659135CB402E07ED7A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_10BE602B761149A2966A20E74185BA01 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'kitchensink'
          slot-name: 'Production'
          package: 'app'
